<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8" />
        <title>HVC Store</title>
    </header>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="~/Products">Produtos</a></li>
                <li><a href="~/Home/About">Sobre</a></li>
            </ul>
        </nav>

        <div>
            @RenderBody()
        </div>
    </body>
</html>
