<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Content/all.min.css" rel="stylesheet" />*@
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <title>HVC Store | @ViewBag.Title</title>
</header>
<body>

    @Html.Partial("_Menu")

    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer class="footer bg-info footer-custom">
        <div class="container">
            <span class="text-muted">&copy;@DateTime.Now.Year HVC Tecnologia </span>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", false)

</body>
</html>
