<h2>Adicionar Produto</h2>

<form method="post">
    <div>
        <label for="txtName">Nome:</label>
        <input type="text" name="name" id="txtName" autofocus/>
    </div>
    <div>
        <label for="txtPrice">Preço:</label>
        <input type="text" name="price" id="txtPrice" autofocus/>
    </div>
    <div>
        <label for="txtType">Tipo:</label>
        <input type="text" name="type" id="txtType" autofocus/>
    </div>
    <div>
        <label for="txtQuant">Quantidade:</label>
        <input type="text" name="quantity" id="txtQuant" autofocus/>
    </div>
    <div>
        <label for="txtDate">Data de Cadastro:</label>
        <input type="text" name="dateentry" id="txtDate" autofocus/>
    </div>

    <input type="submit" value="Salvar"/>
    <button type="submit">Salvar</button>
</form>