<h2>Listagem de Produtos</h2>

<table>
    <tr>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Tipo</th>
            <th>Data Cadastro</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Picanha</td>
            <td>R$ 100,00</td>
            <td>Carnes</td>
            <td>10/05/2015</td>
        </tr>
        <tr>
            <td>Linguiça</td>
            <td>R$ 30,00</td>
            <td>Carnes</td>
            <td>18/08/2017</td>
        </tr>
        <tr>
            <td>Frango Temperado</td>
            <td>R$ 40,00</td>
            <td>Carnes</td>
            <td>05/07/2010</td>
        </tr>
        <tr>
            <td>Carvão</td>
            <td>R$ 40,00</td>
            <td>Churrasco</td>
            <td>25/01/2012</td>
        </tr>
        <tr>
            <td>Cerveja</td>
            <td>R$ 4,00</td>
            <td>Bebidas</td>
            <td>30/06/2011</td>
        </tr>
    </tbody>

</table>
